.45_2 { 
	overflow:hidden;
}.e45_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:3610px;
	position:absolute;
}.e45_3 { 
	transform: rotate(0.0397887288581095deg);
	width:1440.0003662109375px;
	height:0px;
	position:absolute;
	left:0px;
	top:106px;
}.45_3 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e45_4 { 
	transform: rotate(0.0397887288581095deg);
	width:1440.0003662109375px;
	height:0px;
	position:absolute;
	left:0px;
	top:179px;
}.45_4 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e45_5 { 
	transform: rotate(0.0397887288581095deg);
	width:1440.0003662109375px;
	height:0px;
	position:absolute;
	left:0px;
	top:116px;
}.45_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e45_6 { 
	background-color:rgba(33.48557397723198, 56.08545407652855, 136.21249169111252, 1);
	width:1440px;
	height:106px;
	position:absolute;
	left:0px;
	top:0px;
}.e45_7 { 
	background-color:rgba(247.56250709295273, 247.56250709295273, 247.56250709295273, 1);
	width:464px;
	height:76px;
	position:absolute;
	left:201px;
	top:15px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.45_7 { 
	border:2px solid rgba(233.7500050663948, 232.19169348478317, 232.19169348478317, 1);
}.e45_8 { 
	background-color:rgba(0, 0, 0, 0);
	width:101px;
	height:76px;
	position:absolute;
	left:657px;
	top:21px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e45_9 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:36px;
	height:36px;
	position:absolute;
	left:589px;
	top:31px;
}.45_9 { 
	border:5px solid rgba(242.24999696016312, 218.02497446537018, 0, 1);
}.e45_10 { 
	transform: rotate(44.94563236262363deg);
	width:29.15475845336914px;
	height:0px;
	position:absolute;
	left:615px;
	top:65px;
}.45_10 { 
	border:5px solid rgba(242.00000077486038, 218.00000220537186, 0, 1);
}.e45_11 { 
	width:166px;
	height:77px;
	position:absolute;
	left:23px;
	top:14px;
	background-image:url(images/hardwarelogo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_12 { 
	box-shadow:2px 4px 5px rgba(0, 0, 0, 0.25);
	background-color:rgba(79.6875, 77.82813057303429, 77.82813057303429, 0.9700000286102295);
	width:1440px;
	height:86px;
	position:absolute;
	left:0px;
	top:107px;
}.e45_20 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(31.875, 31.136566624045372, 24.490628242492676, 0.2199999988079071);
	width:275px;
	height:258px;
	position:absolute;
	left:72px;
	top:1294px;
}.e45_21 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(31.875, 31.136566624045372, 24.490628242492676, 0.7200000286102295);
	width:275px;
	height:258px;
	position:absolute;
	left:72px;
	top:1711px;
}.e45_22 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	width:275px;
	height:258px;
	position:absolute;
	left:412px;
	top:1711px;
	background-image:url(images/rectangle_20.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_23 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	width:275px;
	height:258px;
	position:absolute;
	left:746px;
	top:1711px;
	background-image:url(images/rectangle_21.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_24 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(31.875, 31.136566624045372, 24.490628242492676, 0.2199999988079071);
	width:275px;
	height:258px;
	position:absolute;
	left:1080px;
	top:1711px;
}.e45_25 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(31.875, 31.136566624045372, 24.490628242492676, 0.7200000286102295);
	width:275px;
	height:258px;
	position:absolute;
	left:408px;
	top:1292px;
}.e45_26 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	width:275px;
	height:258px;
	position:absolute;
	left:743px;
	top:1294px;
	background-image:url(images/rectangle_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_27 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(164.8999947309494, 67.3341652750969, 67.3341652750969, 1);
	width:275px;
	height:258px;
	position:absolute;
	left:1079px;
	top:1292px;
}.e45_29 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:34px;
	top:130px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_30 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:200px;
	top:130px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_31 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:425px;
	top:130px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_32 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:604px;
	top:134px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_33 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:783px;
	top:134px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_34 { 
	color:rgba(255, 255, 255, 1);
	width:270px;
	height:49px;
	position:absolute;
	left:988px;
	top:131px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_35 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:1268px;
	top:131px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_37 { 
	color:rgba(255, 255, 255, 1);
	width:74px;
	height:18px;
	position:absolute;
	left:1100px;
	top:80px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e45_38 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:18px;
	position:absolute;
	left:1197px;
	top:74px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e45_39 { 
	width:91px;
	height:92px;
	position:absolute;
	left:1305px;
	top:5px;
	background-image:url(images/profileicon_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_40 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:18px;
	position:absolute;
	left:1314px;
	top:79px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e45_41 { 
	color:rgba(255, 255, 255, 1);
	width:219px;
	height:48px;
	position:absolute;
	left:860px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_42 { 
	color:rgba(255, 255, 255, 1);
	width:219px;
	height:48px;
	position:absolute;
	left:702px;
	top:43px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_43 { 
	width:63px;
	height:76px;
	position:absolute;
	left:1197px;
	top:10px;
	background-image:url(images/location_icon_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_45 { 
	width:172px;
	height:198px;
	position:absolute;
	left:1143px;
	top:1339px;
	background-image:url(images/tap_website_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_48 { 
	width:217px;
	height:228px;
	position:absolute;
	left:438px;
	top:1324px;
	background-image:url(images/tanki_website_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_55 { 
	color:rgba(79.6875, 77.82813057303429, 77.82813057303429, 0.9700000286102295);
	width:1324px;
	height:64px;
	position:absolute;
	left:72px;
	top:722px;
	font-family:Inika;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e45_56 { 
	color:rgba(0, 0, 0, 1);
	width:598px;
	height:71px;
	position:absolute;
	left:65px;
	top:826px;
	font-family:Arial;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e45_57 { 
	color:rgba(0, 0, 0, 1);
	width:598px;
	height:71px;
	position:absolute;
	left:65px;
	top:1203px;
	font-family:Arial;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e45_60 { 
	width:173px;
	height:115px;
	position:absolute;
	left:180px;
	top:1380px;
	background-image:url(images/pipelambi_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_61 { 
	width:317px;
	height:283px;
	position:absolute;
	left:66px;
	top:1290px;
	background-image:url(images/pipemore_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_62 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:143px;
	top:1585px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_63 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:811px;
	top:1567px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_64 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:1140px;
	top:1567px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_65 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:489px;
	top:1573px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_66 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:125px;
	top:1983px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_67 { 
	color:rgba(0, 0, 0, 1);
	width:270px;
	height:49px;
	position:absolute;
	left:438px;
	top:1977px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_68 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:811px;
	top:1989px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_69 { 
	color:rgba(0, 0, 0, 1);
	width:166px;
	height:49px;
	position:absolute;
	left:1134px;
	top:1983px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e45_70 { 
	width:440px;
	height:218px;
	position:absolute;
	left:719px;
	top:920px;
}.e45_72 { 
	width:211px;
	height:218px;
	position:absolute;
	left:151px;
	top:1751px;
	background-image:url(images/seat_website_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_74 { 
	width:222px;
	height:128px;
	position:absolute;
	left:115px;
	top:2223px;
	background-image:url(images/rectangle_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_75 { 
	width:259px;
	height:149px;
	position:absolute;
	left:393px;
	top:2217px;
	background-image:url(images/rectangle_24.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_76 { 
	width:222px;
	height:128px;
	position:absolute;
	left:746px;
	top:2223px;
	background-image:url(images/rectangle_25.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_77 { 
	width:222px;
	height:128px;
	position:absolute;
	left:1080px;
	top:2223px;
	background-image:url(images/rectangle_26.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_86 { 
	width:222px;
	height:128px;
	position:absolute;
	left:117px;
	top:2615px;
	background-image:url(images/rectangle_31.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_87 { 
	width:222px;
	height:128px;
	position:absolute;
	left:444px;
	top:2615px;
	background-image:url(images/rectangle_32.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_88 { 
	width:222px;
	height:128px;
	position:absolute;
	left:755px;
	top:2615px;
	background-image:url(images/rectangle_33.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_89 { 
	width:222px;
	height:128px;
	position:absolute;
	left:1078px;
	top:2615px;
	background-image:url(images/rectangle_34.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_82 { 
	width:222px;
	height:128px;
	position:absolute;
	left:125px;
	top:2419px;
	background-image:url(images/rectangle_27.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_83 { 
	width:222px;
	height:128px;
	position:absolute;
	left:430px;
	top:2419px;
	background-image:url(images/rectangle_28.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_84 { 
	width:222px;
	height:128px;
	position:absolute;
	left:735px;
	top:2421px;
	background-image:url(images/rectangle_29.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_85 { 
	width:222px;
	height:128px;
	position:absolute;
	left:1085px;
	top:2393px;
	background-image:url(images/rectangle_30.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e51_92 { 
	color:rgba(0, 0, 0, 1);
	width:771px;
	height:71px;
	position:absolute;
	left:93px;
	top:2120px;
	font-family:Inter;
	text-align:left;
	font-size:50px;
	letter-spacing:0;
}.e54_2 { 
	background-color:rgba(33.48557397723198, 56.08545407652855, 136.21249169111252, 1);
	width:1374px;
	height:471px;
	position:absolute;
	left:71px;
	top:3124px;
}.e54_29 { 
	color:rgba(255, 255, 255, 1);
	width:336px;
	height:363px;
	position:absolute;
	left:143px;
	top:3189px;
	font-family:Inter;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}.e55_31 { 
	width:478px;
	height:323px;
	position:absolute;
	left:904px;
	top:3170px;
}.e54_25 { 
	color:rgba(255, 255, 255, 1);
	width:213.03326416015625px;
	height:38.94326400756836px;
	position:absolute;
	left:90.08869171142578px;
	top:242.82269287109375px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e54_24 { 
	color:rgba(255, 255, 255, 1);
	width:213.03326416015625px;
	height:38.94326400756836px;
	position:absolute;
	left:96.44789123535156px;
	top:284.0567321777344px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e54_21 { 
	width:66.77162170410156px;
	height:66.43262481689453px;
	position:absolute;
	left:0px;
	top:248.54965209960938px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e54_20 { 
	color:rgba(255, 255, 255, 1);
	width:478px;
	height:146.60992431640625px;
	position:absolute;
	left:0px;
	top:43.52482223510742px;
	font-family:Inter;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e54_19 { 
	color:rgba(255, 255, 255, 1);
	width:203.4944610595703px;
	height:38.94326400756836px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e54_16 { 
	color:rgba(255, 255, 255, 1);
	width:388.9711608886719px;
	height:52.68794250488281px;
	position:absolute;
	left:77.37028503417969px;
	top:176.39007568359375px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e54_15 { 
	width:66.77162170410156px;
	height:66.43262481689453px;
	position:absolute;
	left:0px;
	top:170.66311645507812px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e54_8 { 
	width:61px;
	height:55px;
	position:absolute;
	left:501px;
	top:2808px;
}.e54_28 { 
	width:298px;
	height:343px;
	position:absolute;
	left:538px;
	top:3169px;
}.e54_17 { 
	color:rgba(255, 255, 255, 1);
	width:193.57826232910156px;
	height:34px;
	position:absolute;
	left:14.591304779052734px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e54_10 { 
	width:92.07728576660156px;
	height:63px;
	position:absolute;
	left:0px;
	top:122px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e54_9 { 
	width:62px;
	height:63px;
	position:absolute;
	left:15px;
	top:49px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e54_4 { 
	width:70px;
	height:50.93547058105469px;
	position:absolute;
	left:12.060869216918945px;
	top:204px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e54_7 { 
	width:59px;
	height:60px;
	position:absolute;
	left:18px;
	top:283px;
	background-image:url(images/rectangle_36.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e54_11 { 
	color:rgba(255, 255, 255, 1);
	width:193.57826232910156px;
	height:34px;
	position:absolute;
	left:104.42173767089844px;
	top:64px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e54_12 { 
	color:rgba(255, 255, 255, 1);
	width:193.57826232910156px;
	height:34px;
	position:absolute;
	left:104.42173767089844px;
	top:291px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e54_13 { 
	color:rgba(255, 255, 255, 1);
	width:193.57826232910156px;
	height:34px;
	position:absolute;
	left:104.42173767089844px;
	top:216px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e54_14 { 
	color:rgba(255, 255, 255, 1);
	width:193.57826232910156px;
	height:34px;
	position:absolute;
	left:104.42173767089844px;
	top:140px;
	font-family:Inter;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}.e64_19 { 
	box-shadow:8px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(4.075064733624458, 182.9990315437317, 222.2750160098076, 0.5799999833106995);
	width:217px;
	height:191px;
	position:absolute;
	left:861px;
	top:913px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e64_26 { 
	color:rgba(33.00000183284283, 56.000000461936, 136.00000709295273, 1);
	width:185px;
	height:61px;
	position:absolute;
	left:894px;
	top:1030px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e64_17 { 
	box-shadow:8px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(4.075064733624458, 182.9990315437317, 222.2750160098076, 0.5799999833106995);
	width:217px;
	height:191px;
	position:absolute;
	left:319px;
	top:907px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e64_21 { 
	box-shadow:8px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(4.075064733624458, 182.9990315437317, 222.2750160098076, 0.5799999833106995);
	width:217px;
	height:191px;
	position:absolute;
	left:55px;
	top:908px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e64_23 { 
	box-shadow:8px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(4.075064733624458, 182.9990315437317, 222.2750160098076, 0.5799999833106995);
	width:217px;
	height:191px;
	position:absolute;
	left:604px;
	top:916px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e45_58 { 
	width:64px;
	height:89px;
	position:absolute;
	left:132px;
	top:916px;
	background-image:url(images/checklist2_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_71 { 
	width:127px;
	height:159px;
	position:absolute;
	left:1102px;
	top:1366px;
	background-image:url(images/pngimg_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e64_22 { 
	border-radius:500px;
	background-color:rgba(233.96252006292343, 129.0693461894989, 129.0693461894989, 0.8700000047683716);
	width:277px;
	height:120px;
	position:absolute;
	left:27px;
	top:1009px;
}.e64_29 { 
	border-radius:500px;
	width:439px;
	height:197px;
	position:absolute;
	left:35px;
	top:544px;
}.e64_20 { 
	border-radius:500px;
	background-color:rgba(233.96252006292343, 129.0693461894989, 129.0693461894989, 0.8700000047683716);
	width:305px;
	height:149px;
	position:absolute;
	left:827px;
	top:862px;
}.e64_18 { 
	border-radius:500px;
	background-color:rgba(233.96252006292343, 129.0693461894989, 129.0693461894989, 0.8700000047683716);
	width:305px;
	height:124px;
	position:absolute;
	left:277px;
	top:886px;
}.e64_24 { 
	border-radius:500px;
	background-color:rgba(233.96252006292343, 129.0693461894989, 129.0693461894989, 0.8700000047683716);
	width:252px;
	height:149px;
	position:absolute;
	left:582px;
	top:1023px;
}.e65_4 { 
	width:151px;
	height:110px;
	position:absolute;
	left:351px;
	top:902px;
	background-image:url(images/fastdelivery_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e64_2 { 
	transform: rotate(-0.0347098026929944deg);
	width:121.94791412353516px;
	height:86.01297760009766px;
	position:absolute;
	left:912px;
	top:923.0609130859375px;
	background-image:url(images/easyreturn_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e64_25 { 
	color:rgba(33.00000183284283, 56.000000461936, 136.00000709295273, 1);
	width:185px;
	height:61px;
	position:absolute;
	left:351px;
	top:1021px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e64_27 { 
	color:rgba(33.00000183284283, 56.000000461936, 136.00000709295273, 1);
	width:185px;
	height:61px;
	position:absolute;
	left:79px;
	top:1029px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e65_13 { 
	box-shadow:8px 10px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(4.075064733624458, 182.9990315437317, 222.2750160098076, 0.5799999833106995);
	width:217px;
	height:191px;
	position:absolute;
	left:1106px;
	top:920px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e65_14 { 
	width:164px;
	height:89px;
	position:absolute;
	left:1132px;
	top:928px;
	background-image:url(images/checklist2_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_15 { 
	border-radius:500px;
	background-color:rgba(233.96252006292343, 129.0693461894989, 129.0693461894989, 0.8700000047683716);
	width:249px;
	height:120px;
	position:absolute;
	left:1093px;
	top:1033px;
}.e65_16 { 
	color:rgba(33.00000183284283, 56.000000461936, 136.00000709295273, 1);
	width:185px;
	height:61px;
	position:absolute;
	left:1130px;
	top:1041px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e64_28 { 
	color:rgba(33.00000183284283, 56.000000461936, 136.00000709295273, 1);
	width:185px;
	height:61px;
	position:absolute;
	left:641px;
	top:1008px;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
}.e64_30 { 
	width:174px;
	height:80px;
	position:absolute;
	left:631px;
	top:931px;
	background-image:url(images/pricevs_value_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_5 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	width:416px;
	height:389px;
	position:absolute;
	left:75px;
	top:291px;
}.e65_6 { 
	width:99px;
	height:114px;
	position:absolute;
	left:341px;
	top:492px;
	background-image:url(images/tap_website_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_7 { 
	transform: rotate(0.8038381376215009deg);
	width:197px;
	height:152px;
	position:absolute;
	left:142.1324462890625px;
	top:485px;
	background-image:url(images/motor_website_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_22 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	width:416px;
	height:389px;
	position:absolute;
	left:527px;
	top:277px;
}.e65_23 { 
	width:172px;
	height:172px;
	position:absolute;
	left:593px;
	top:428px;
	background-image:url(images/floor_website_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_24 { 
	width:264px;
	height:304px;
	position:absolute;
	left:725px;
	top:344px;
	background-image:url(images/tanki_website_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_25 { 
	width:99px;
	height:67px;
	position:absolute;
	left:632px;
	top:357px;
	background-image:url(images/bulb_website_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_26 { 
	width:211px;
	height:218px;
	position:absolute;
	left:620px;
	top:430px;
	background-image:url(images/seat_website_removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_27 { 
	box-shadow:10px 10px 4px rgba(0, 0, 0, 0.25);
	width:416px;
	height:389px;
	position:absolute;
	left:988px;
	top:296px;
}.e65_28 { 
	transform: rotate(-0.023613614882633825deg);
	width:332.0860900878906px;
	height:225.41517639160156px;
	position:absolute;
	left:1030px;
	top:406.1368713378906px;
	background-image:url(images/paint_color_website_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_29 { 
	width:297px;
	height:199px;
	position:absolute;
	left:1067px;
	top:498px;
	background-image:url(images/daco_5021242_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e65_30 { 
	transform: rotate(-81.5230937301704deg);
	width:166.99107360839844px;
	height:150.3544158935547px;
	position:absolute;
	left:1166px;
	top:531.166748046875px;
	background-image:url(images/brush_website_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e80_160 { 
	width:60px;
	height:67px;
	position:absolute;
	left:1093px;
	top:10px;
	background-image:url(images/cartwebsite_removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e84_14 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(4.075064733624458, 182.9990315437317, 222.2750160098076, 1) 76.25132203102112%,rgba(4.075064733624458, 182.9990315437317, 222.2750160098076, 0) 100%) ;
	width:661px;
	height:288px;
	position:absolute;
	left:784px;
	top:2836px;
}.e84_15 { 
	width:741px;
	height:288px;
	position:absolute;
	left:55px;
	top:2836px;
	background-image:url(images/one_pumber_and_shopkeeper_shaking_hand_for_partner_with_us_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e84_16 { 
	color:rgba(255, 255, 255, 1);
	width:613px;
	height:135px;
	position:absolute;
	left:906px;
	top:2943px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}